#time1 {
  font-family:courier;
  font-size:17px;
  position:absolute;
  left:10px;
  top:10px;
}

#bottomright {
  font-family:courier;
  font-size:17px;
  position:absolute;
  text-align:right;
  bottom:0px;
  right: 10px;
}


img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
span.uv::selection {
  background: #000000; /* WebKit/Blink Browsers */
  color: #2FFF76
}
span.uv::-moz-selection {
  background: #000000; /* Gecko Browsers */
  color: #2FFF76
}

#ps {
  color: black;
  text-decoration: none; /* no underline */
}

#ultraviolet {
    font-weight:bold;
}


::selection {
  background: #000000; /* WebKit/Blink Browsers */
  color: #4D004D
}
::-moz-selection {
  background: #000000; /* Gecko Browsers */
  color: #4D004D
}

